/* Geral */
main {
    min-height: calc(100vh - 150px);
}


/* HEADER */
#logoImg {
    width: 50px;
    margin-right: 10px;
}

/*MAIN*/
.custom-carousel-height {
    display: flex;
    align-items: center;
    height: 500px;
}

.custom-carousel-height img {
    object-position: center;
    transform: scale(0.3);
    max-height: 1500px;
}

.custom-height {
    height: 100px;
}

.imgCards {
    height: 300px;
}

#loadMore {
    margin-top: 25px;
}

/*FOOTER*/
#footer {
    height: 50px;
    margin-top: 25px;
}

/* DETAILS */
#details {
    margin-top: 40px;
}

.detailsImg {
    margin-top: 10px;
    max-height: 450px;
}

/* SEARCH */
#search {
    margin-top: 40px;
}

#search a {
    text-decoration: none;
}

/* MEDIA QUERIES */

/* MOBILE */
@media (max-width: 768px) {
    #mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}